body,html{
    height:100%;
    overflow: hidden;
}
h3{
    font-size: 14px;
    font-weight: 100;
}
.border-box{
    border:1px solid #e4e7ed;
    position: relative;
    padding:20px 10px 0 10px;
    margin:15px 0;
}
.border-box > h3{
    background: #fff;
    position: absolute;
    top:-25px;
    left:10px;
}
.textCenter{
    text-align: center;
}
.pb20{
    padding-bottom:20px;
}
.border-box .el-checkbox-group .el-checkbox{
    width:100%;
}
.border-box .el-checkbox-group .el-checkbox+.el-checkbox{
    margin-left:0;
}